<div class="social-icons">
  <a href="https://twitter.com/yourprofile">Twitter</a>
  <a href="https://github.com/yourprofile">GitHub</a>
  <a href="https://linkedin.com/in/yourprofile">LinkedIn</a>
</div>